<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comingsoon.css') }}">

</head>

<body>
    <html>

    <head>
        <meta charset="utf-8">
        <title>Site Yapım Aşamasında</title>
    </head>

    <body>

        <body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
            <div id="yazı">█ █ █ <span style="color:black">█ █ █ █ █ █ █ █ █ █ </span>31%
                <br>&gt; Coming Soon&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br>&gt; TeamSDS <span id="imleç">█</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </body>

    </html>

</body>

</html>